// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

//Variables
@background-color:#f4f4f4;
@font-family: Jost;
@primary-color: #edf0f1;
@padding: 1.5em;

//Mixins
.border-box {
	border-radius: 10px;
	box-shadow: 2px 2px 10px black;

}
body {
	font-family: @font-family;
	width: 1024px;
	margin: 0 auto;
}
header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: none;
}
li, a{
	font-size: 16px;
	font-family: "Muli", sans-serif;
	font-weight: 600;
	text-decoration: none
	}
.navigation {
	list-style: none;

	li {
		display:inline-block;
		padding: @padding;
	}
}
			
p {
	font-size: 20px;
	margin-top: 1em;
	padding-right: 1.5em;
	padding-left: 2.5em;
	line-height: 1.3em;
	
}
.container {
	display: block;
	width: 100%;
	background-color: @background-color;
}
	.main-header{
		flex-direction: column;
	}
		h1 {
			font-family: @font-family;
			font-size: 2.5em;
			padding-left: 50px;
			padding-right: 20px;
		}
		.image {
			margin: 0 auto;
    		padding: 50px;
		}
			img{
				.border-box;
    			align-items: center;
			}
		h3 {
			font-size: 18px;
			margin-left: 30px;
			margin-right: 30px;
			padding: 1em;
			border-bottom: 1px solid lightgrey;
	}
	button {
		color: black;
		background-color: @primary-color;
		font-size: 1rem;
		padding: 10px;
		margin: 25px;
		margin-bottom: 2em;
		margin-left:3em;
		transition: 300ms ease-in-out;
		.border-box;
	}
	button:hover{
		cursor: pointer;
		background: #707070;
		color: @primary-color;
		transform: scale(1.10, 1.10);
	}
.Skills {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto;

	.left-column {
		width: 55%;
	}
	.right-column {
		width: 45%;
	}
		h2 {
		font-family: @font-family;
		font-size: 1.5em;
		padding: 10px;
		margin-top: 1em;
		width: 50%;
		}
		li {
			border: 1px solid lightgrey;
			padding: 15px;
			margin-right: 35px;
			
		}
}
.work {
	display: block;
	width: 100%;
	margin:0 auto;

	.table{
		font-size: 1em;
		margin: 0 auto;
		width: 100%;
	}
		th {
			font-size: 1.15em;
			font-weight: 500;
			margin: 0 auto;
		}
			td, th {
				border: 1px solid lightgrey;
				border-left: 0px;
				border-right: 0px;
				text-align: left;
				padding: 10px;
				padding-left: 1%;
			}
				tr:nth-child(even) {
					background-color: @background-color;
				}
					h2 {
						font-family: @font-family;
						font-size: 1.8em;
						padding: 10px;
						margin-bottom: .5em;
						margin-top: 1em;
						width: 100%;
					}
}

.footer {
	width: 100;
	margin-top: 4em;
	padding: @padding;
	background-color: grey;
	color: white;
	text-align: center;
}
