// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}
//Variables
@background-color:#f4f4f4;
@font-family: Jost;
@primary-color: #3b5998;
@secondary-color: Black;
@line-height: 1.2em;
@border: 2px 2px 8px whitesmoke;
@border-radius: 2px;

body {
	font-family: @font-family;
	width: 1024px;
	margin: 0 auto;
	padding: 20px;
}
.navigation {
	display: inline;
}
		nav {
		flex-direction: row;
		justify-content: space-evenly;
		align-content: right;
		width: 100%;
		margin: 0 10px;
		padding: 30px;
		padding-left: 40em;

	}
			a{
				font-size: 1.5em;
			}

.container {
	display: block;
	background-color: @background-color;
}
	.main-header{
		flex-direction: column;
	}
		h1 {
			font-family: Jost;
			font-size: 2.5em;
			padding-left: 50px;
			padding-right: 20px;
			margin-bottom: 10px;
		}
		.image {
			margin: 0 auto;
    		padding: 50px;
		}
			img{
				border-radius: 5px;
				box-shadow: 4px 4px 15px black;
    			align-items: center;
			}
	h2 {
		font-size: 1.5em;
		padding: 20px;
	}